@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}

@layer utilities {
  /* Скрытие скроллбара для Chrome, Safari и Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Скрытие скроллбара для IE, Edge и Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Контейнер 1440px */
  .container-1440 {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
